<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>

    <%- include('../headerFiles') %>

    <!-- jQuery JS -->
    <script src="../js/vendor/jquery-1.12.0.min.js"></script>
    <!-- jQuery Validate JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
      integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
      crossorigin="anonymous"
    ></script>

    <style>
      /*.container{*/
      /*background-color: #bfbfbf;*/
      /*}*/
      .cart-main {
        border-radius: 15px;
        box-shadow: 0px 0px 5px black;
        padding: 5px;
      }

      .cart-main h2 {
        color: seagreen;
        font-size: 1.5em !important;
        font-weight: bold;
        margin: 5px 0px 5px 0px !important;
        text-transform: uppercase !important;
      }

      .cart-main h4 {
        color: darkred;
        font-size: 1.1em !important;
        font-weight: bold;
        margin: 5px 0px 5px 0px !important;
        text-transform: uppercase !important;
      }

      .cart-main h5 {
        color: #e8470a;
        font-size: 1.1em !important;
        font-weight: bold;
        text-transform: uppercase !important;
      }

      .page-head_agile_info_w3l {
        min-height: 200px !important;
      }

      /*-- quantity-starts --*/
      .value-minus,
      .value-plus,
      .value-minus1,
      .value-plus1 {
        height: 30px;
        /*height: 40px;*/

        line-height: 13px;
        /*line-height: 24px;*/

        width: 30px;
        /*width: 40px;*/

        margin-right: 3px;
        display: inline-block;
        cursor: pointer;
        position: relative;
        font-size: 18px;
        color: #fff;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        border: 1px solid #b2b2b2;
        vertical-align: bottom;
      }

      .quantity-select .entry.value-minus:before,
      .quantity-select .entry.value-plus:before,
      .quantity-select .entry.value-minus1:before,
      .quantity-select .entry.value-plus1:before {
        content: "";
        width: 13px;
        height: 2px;
        background: #000;
        left: 50%;
        margin-left: -7px;
        top: 50%;
        margin-top: -0.5px;
        position: absolute;
      }

      .quantity-select .entry.value-plus:after,
      .quantity-select .entry.value-plus1:after {
        content: "";
        height: 13px;
        width: 2px;
        background: #000;
        left: 50%;
        margin-left: -1.4px;
        top: 50%;

        margin-top: -6.2px;

        position: absolute;
      }

      .value,
      .value1 {
        cursor: default;
        font-weight: bold;

        width: 30px;
        /*width: 40px;*/

        height: 30px;
        /*height: 40px;*/

        padding: 8px 0px;
        /*color: #A9A9A9;*/
        color: #008277;

        line-height: 13px;
        /*line-height: 24px;*/

        border: 1px solid #e5e5e5;
        background-color: #e5e5e5;
        text-align: center;
        display: inline-block;
        margin-right: 3px;
      }

      .quantity-select .entry.value-minus:hover,
      .quantity-select .entry.value-plus:hover,
      .quantity-select .entry.value-minus1:hover,
      .quantity-select .entry.value-plus1:hover {
        background: #e5e5e5;
      }

      .quantity-select .entry.value-minus,
      .quantity-select .entry.value-minus1 {
        margin-left: 0;
      }

      /*-- quantity-end --*/
    </style>
  </head>
  <body>
    <!-- Main Wrapper Start -->
    <div class="main-wrapper home-2">
      <%- include('../header') %>

      <div class="container">
        <div class="text-center">
          <img
            src="https://media.istockphoto.com/id/1395883911/vector/congrats-class-of-2025-simple-hand-drawn-lettering-vector-text-illustration-template.jpg?s=612x612&w=0&k=20&c=mEv2KeT_0k3Nc1fGrCub4eoDA7t4eNN-WohtDqXaUKA="
            alt="Logo"
            style="width: 100%; height: 450px"
          />
        </div>
      </div>

      <%- include('../footer') %>
    </div>
  </body>
</html>
